<div>
    <div style="float: right;font-size: 15px;font-weight:bold"><%= re_date %></div>
    <div  style="border: 1px dashed #99d1e8;width: 500px;float: left;background-color: #ecf2fb;padding: 10px;font-size: 15px;border-radius:4px; margin-bottom: 20px;color:#0d6bb5;">
        <div><b><%= title %></b></div>
        <%= content %>
    </div>
    <ul>
        <% for(var i=0; i<replies.length; i++) { %>
        <li>
            <% if(replies[i].ext1=='0') { %>
            <div style="border: 1px dashed #99d1e8;width: 500px;float:left;background-color: #ecf2fb;padding: 10px;font-size: 15px;border-radius:4px;margin-bottom: 20px; color:#0d6bb5;">
                <%= replies[i].content %>
            </div>
            <% } %>
            <% if(replies[i].ext1=='1') { %>
            <div style="border: 1px dashed #999999;width: 500px;float: right;background-color: #ececec;padding: 10px;font-size: 15px;border-radius:4px; margin-bottom: 20px;">
                <%= replies[i].content %>
            </div>
            <% } %>
        </li>
        <% } %>
    </ul>
    <form style="margin-top: 30px" action="/community/replyComplaint.do" id="cpform" target="ifm_blank">
        <input type="hidden" name="ext1" value="1">
        <input type="hidden" name="pid" value="<%= id %>">
        <textarea rows="5" id="cpcontent" name="content" style="overflow:hidden;width:100%;border: 1px solid #b7b7b8; margin-bottom:10px;"></textarea>
        <input id="cpsubmit" type="submit" class="form_button" value="回复" />

    </form>
</div>